
body {
    background-color: #E9EBEE;
    font-family: Segoe UI;
    text-decoration: none;
}

li {
    padding: 5px;
    {
        list-style-type: none;
    }
}

.main a:hover {
    background-color: gray;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    color: white;
}

.navbar ul {
    font-size: 1, 5em;
    color: white;
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
    background-color: #3B5998;
    position: relative;
    top: 0.5em;
    width: 100%;
}

.navbar ul {
    padding-left: 10px;
    padding-right
}

.navbar ul li {
    float: left;
    margin-left: 10px;
}

.navbar ul li:nth-child(1) {
    margin-left: 10px;
    color: white;
    font-size: 1.5em;
    padding: 1px;
}

.navbar ul li:nth-child(3) {
    margin-left: 100px;
    height: 25px;
    margin-right: 25px;
}

.navbar ul li:nth-child(3) img {
    height: 30px;
    width: 40px;
}


/*navbar ul li:nth-child(1) {list-style-image:url (<i class="fa fa-facebook-square"></i>}*/

.navbar ul li:nth-child(4) {
    border-left: 1px solid gray
}

.navbar ul li:nth-child(9) {
    border-left: 1px solid gray
}

#directlinks {
    width: 10%;
    float: left;
    border: solid 5px transparent;
}

#directlinks a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#newsfeed {
    width: 40%;
    height: 10000px;
    float: left;
    background-color: white;
    border: solid 5px transparent;
    display: flex;
    flex-direction: column;
}
#newsfeed div img {height: 80px;
width: 120px}

#ads {
    width: 10%;
    height: 450px;
    float: left;
    background-color: white;
    border: solid 5px transparent;
}

#ads img {
    width: 380px;
}

.#contacts {
    width: 15%
}

.main {
    width: 5000px;
    height: 1000px;
    display: flex;
    flex-direction: row;
}



footer {
    text-align: center
}
